body {
    background-color: #FBD099;
    color: #A33307; 
    text-decoration: none;
    margin: 0px;
}

mark {
  background-color: green;
  color: white;
}

b {
  color: black;
  font-weight: bold;
}

hr {
    border-color: #A33307;
    background-color: #A33307;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #A33307;    
    border-color: rgba(251,172,70,0.8);
}

textarea:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="time"]:disabled,
input[type="week"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="url"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="color"]:disabled,
.uneditable-input:disabled {   
  background-color: #FBE9D1;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(163,51,7,0.8);
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(163,51,7,0.6);
  outline: 0 none;
}

.page-title {  
    font-size: 1.3em;
    color: #A33307;
    letter-spacing: 2px;
    text-align:center;
    margin-top: 10px;
}

.well-panel {
    background-color: #FBBF70;
    border-color: #A33307;
}

.btn-file {
    border-color: #E95420;
    background-color: #E95420;
}

.input-error {
    display: none;
    color: #FF0000;
    font-size: 0.9em;
    font-weight: 600;
    margin-top: -10px;
}

.table-container {
    max-height: 600px;
    overflow: auto;
}

.btn-black {
    background-color: #303030;
    border-color: #303030;
}

.btn-black:hover {
    background-color: #4F4F4F;
    border-color: #4F4F4F;
}

.btn-semi-black {
    background-color: #696969;
    border-color: #696969;
}

.btn-semi-black:hover {
    background-color: #909090;
    border-color: #909090;
}

.run-progress {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
    color: #FFFFFF;
    background-color: #3E3E3E;
    width: 100%;
    height: 320px;
    border-style: solid;
    border-width: 1px;
    border-color: #A33307;
    overflow: auto;
    /*display: none;*/
}

.progressbar-header {
    background-color: #F35236;
    width: 100%;
    color: #FFFFFF;
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.progressbar-footer {
    background-color: #F35236;
    width: 100%;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.footer {
    background-color: #C94410;
    border-color: #A33307;
    border-width : 1px;
    border-style: solid;
    text-align: center;
    height: 20px;
    color: #FFFFFF;
    font-size: 0.9em; 
    font-weight: normal;
}

.footer>a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
}

.footer>a:hover {  
    color: #FFB46C;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

/* Override tab classes */
.nav-tabs {
    border-bottom: 1px solid #A33307;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #A33307;
}

.nav-tabs>li>a:hover {
    border-color: #A33307 #A33307 #A33307;
    background-color: #FBA02A;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus {
    color: #FFFFFF;
    background-color: #E95420;
    border: 1px solid #A33307;
    cursor: default
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
    background-color: #E95420;
    border-color: #A33307
}

/* Override default table styling */

.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>th, 
.table>caption+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>td, 
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
    border-color: #A33307;
}

.table.shiny-table > thead > tr > th, 
.table.shiny-table > tbody > tr > th, 
.table.shiny-table > tfoot > tr > th, 
.table.shiny-table > thead > tr > td, 
.table.shiny-table > tbody > tr > td, 
.table.shiny-table > tfoot > tr > td {
    padding-left: 12px;
    padding-right: 12px;
    border-color: #A33307;
}

/* Override default table filter filter slider colour */
.noUi-connect {
    background: #A33307;
    box-shadow: inset 0 0 3px rgba(51,51,51,.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

/* Override some selectize properties */
.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #FBD099;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-control.multi .selectize-input > div.active {
    background: #E95420;
    color: #ffffff;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-input.focus {
  border-color: rgba(163,51,7,0.8);
  box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(163,51,7,0.6);
  outline: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(163,51,7,0.6);
}
